<div class="">
  {% if layout == 'Layout One' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Two' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Heading' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Images' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Reverse' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout First 4' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout First 5' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout First 6' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout First 8' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout From 2 To 6' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout From 3 To 7' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout From 4 To 8' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Last 3' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Last 4' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Last 5' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Leave 1' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Leave 2' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Leave 3' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% elif layout == 'Layout Leave 4' %}
  <div class="">

    <h2 class="h5 section-title mt-5">{{ card.title }} {{ title }}</h2>

    <div class="">
      {% for card in cards %}
        <div class="rounded card-gradient-hover pl-4 pt-1">
          <div class="card-title" title=" {{ card }}">
            <strong>{{ card }}</strong>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    
  </div>
  {% else %}

  {% endif %}
</div>
