<!-- - Side bar -->
{% load static %}
<div class="post-aside grid-list">
    <!-- Search -->
    {% include 'components/sidebar/search.html' %}

    <!-- categories -->
    {% include 'components/sidebar/categories.html' %}

    <!-- tags -->
    {% include 'components/sidebar/tags.html' %}
    
  
    <!-- recent post -->
    {% include 'components/sidebar/recent_post.html' %}
    
  


  <!-- Search -->


  <!-- about me -->

  {% comment %} {% include 'components/sidebar/about_me.html' %} {% endcomment %}

  <!-- Promotion -->
  {% comment %} {% include 'components/sidebar/promotion.html' %} {% endcomment %}


  <!-- Subscribe -->
  {% comment %} {% include 'components/sidebar/subscribe.html' %} {% endcomment %}

  <!-- Social -->
  {% comment %} {% include 'components/sidebar/socials.html' %} {% endcomment %}
  
</div>

